# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# The service's answers, written by tests/test_contract.py in the shape
# Python's json module gives them.
/src/fixtures/
